@import 'utils/variables';
@import 'utils/media';

.book-list-page {
	position: relative;
	&__content {
		display: flex;
		flex-direction: column;
		gap: 30px;
	}

	&__button {
		width: fit-content;
	}
}
