$container-width-desktop: 960px;
$container-width-laptop: 720px;

$color-white: #fff;
$color-gray: #828282;
$color-black: #303030;

$color-green: #32D172;
$color-orange: #CED132;
$color-red: #D13232;
