@import 'components/ui/typography/heading/heading.module';
@import 'components/ui/typography/paragraph/paragraph.module';
@import 'utils/variables';
@import 'utils/media';

.link {
	display: inline-block;
	text-decoration: none;
	cursor: pointer;

	@include media-mobile {
		word-wrap: break-word;
	}
}

.link_level_h1 {
	@include h1;

	&::after {
		height: 6px;
	}
}

.link_level_h2 {
	@include h2;

	&::after {
		height: 4px;
	}
}

.link_level_paragraph {
	@include paragraph;

	&::after {
		height: 1px;
	}
}

.link_color_black {
	color: $color-black;
	fill: $color-black;

	&:active {
		color: $color-green;
	}

	&::after {
		background: none;
	}

	&:hover::after {
		background: $color-gray;
	}

	&:active::after {
		background: $color-green;
	}
}

@mixin link_icon {
	position: relative;
	margin-left: 36px;

	@include media-mobile {
		margin-left: 25px;
	}

	&::before {
		position: absolute;
		left: -36px;

		@include media-mobile {
			left: -25px;
		}
	}
}

.link_go {
	@include link_icon;

	&::before {
		content: url('static/shevron-right.svg');
	}
}

.link_edit {
	@include link_icon;

	&::before {
		content: url('static/edit.svg');
	}
}
