@import 'utils/variables';
@import 'utils/media';

.page-layout {
	display: flex;
	flex-direction: column;
	height: 100%;
	background: $color-white;
	color: $color-black;

	&__header {
		display: flex;
		flex-shrink: 0;
	}

	&__main {
		flex: 1 0 auto;
		margin-top: 60px;
	}

	&__footer {
		flex: 0 0 auto;
		margin-top: 60px;
	}
}
