@import 'utils/variables';
@import 'utils/media';

.modal-add {
	&__input {
		height: 60px;
		border: none;
		background-color: $color-input-background;
		border-radius: 0;
	}

	&__form {
		display: flex;
		flex-direction: column;
		gap: 24px;
	}
}
